{{ define "main" }}

{{ partial "blog-header.html" . }}

{{ $articoli := first 2 (where .Site.RegularPages "Type" "blog") }}

<div class="row">
    {{ range $articoli }}
    <div class="col col-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-secondary">
                    {{ with .Params.tags }}
                    {{ range $index, $tag := . }}
                    {{ if $index }}, {{ end }}
                    <a href="/blog/tags/{{ $tag | urlize }}/" class="text-primary-emphasis text-decoration-none">{{ $tag
                        }}</a>
                    {{ end }}
                    {{ end }}
                </strong>

                <h3 class="mb-0">
                    {{ .Title }}
                </h3>

                <div class="mb-1 text-body-secondary">
                    <i class="bi bi-calendar-date"></i>
                    {{ .Date.Format "02/01/2006" }}

                    {{ with .Params.authors }}
                    <i class="bi bi-person-circle"></i>
                    {{ range $index, $author := . }}
                    {{ if $index }}, {{ end }}
                    <a href="/blog/authors/{{ $author | urlize }}/">{{ $author }}</a>
                    {{ end }}
                    {{ end }}
                </div>

                <p class="card-text mb-auto">
                    {{ .Params.description }}
                </p>

                <a href="{{ .RelPermalink }}" class="icon-link gap-1 icon-link-hover">
                    Continua la lettura
                </a>
            </div>

            <div class="col-auto d-none d-lg-block">
                <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img " height="250"
                    preserveAspectRatio="xMidYMid slice" role="img" width="200" xmlns="http://www.w3.org/2000/svg">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                        Thumbnail
                    </text>
                </svg>
            </div>
        </div>
    </div>
    {{ end }}
</div>

<div class="row">
    <div class="col col-8">
        {{ .Content }}
    </div>

    <div class="col col-4">
        {{ partial "blog-sidebar.html" . }}
    </div>
</div>

{{ end }}