{{ define "main" }}

<div class="card">
    <h5 class="card-header page-card-header">
        {{ .Title }}
    </h5>

    <div class="card-body">
        <div class="row">
            <div class="col col-8">
                {{ .Content }}


                {{ $annoCorrente := .Params.corrente }}
                {{ with site.GetPage $annoCorrente }}

                {{ range .Params.corsi }}
                <div style="width: 100%; border: 1px solid #cccccc;" class="p-2 mb-2">
                    <i class="h5 bi bi-mortarboard text-primary"></i>
                    <a href="{{ .RelPermalink }}{{ $.Params.corrente }}/{{ .link }}" class="h5 text-primary text-decoration-none hover-underline">{{ .titolo }}</a>
                    <p class="text-muted h6 mb-0 pb-0">
                        Classe/i: <b>{{ .classi }}</b>
                        - Scuola: <b>{{ .scuola }}</b>
                    </p>
                </div>
                {{ end }}
                {{ end }}

                {{ range .Params.corsi }}
                <div style="width: 100%; border: 1px solid #cccccc;" class="p-2 mb-2">
                    <i class="h5 bi bi-mortarboard text-primary"></i>
                    <a href="{{ .RelPermalink }}{{ .link }}"
                        class="h5 text-primary text-decoration-none hover-underline">{{ .titolo }}</a>
                    <p class="text-muted h6 mb-0 pb-0">
                        Classe/i: <b>{{ .classi }}</b>
                        - Scuola: <b>{{ .scuola }}</b>
                    </p>
                </div>
                {{ end }}

                <br>

                <p>Archivio corsi:</p>

                <ul>
                    {{ range .Params.archivio }}
                    <li>
                        <a href="{{ .RelPermalink }}{{ .link }}">{{ .anno }}</a>
                    </li>
                    {{ end }}
                </ul>
            </div>

            <div class="col col-4">
                {{ partial "corso-sidebar.html" . }}
            </div>
        </div>
    </div>
</div>
{{ end }}