@font-face {
    font-family: morn-demibold;
    src: url("../fonts/morn-demibold.ttf");
}

ul.contact-list>li.my-name {
    font-weight: bold;
    color: #424242;
}

p.personal-name-bold,
span.personal-name-bold {
    font-weight: bold;
    color: #424242;
}

figure.citation {
    border-left: 4px solid #E8E8E8;
}

figure.citation>p.citation-text {
    color: #828282;
    padding-left: 14px;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;
    margin-bottom: 16px;
}

figure.citation>p.citation-author {
    padding-top: 0;
    margin-top: 0;
    color: #424242;
    padding-left: 14px;
    font-size: 14px;
}

div.course-container {
    border: 2px solid #828282;
    padding: 8px;
    margin-bottom: 16px;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.font-weight-bold {
    font-weight: bold;
}

div.trigger>a.page-link:last-child {
    display: none;
}

.site-header {
    border-top: 5px solid #1e4e79;
    border-bottom: 1px solid #e8e8e8;
    background-color: #1e4e79;
    min-height: 56px;
    position: relative;
}

.site-title {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-family: morn-demibold;
    color: white;
    text-decoration: none;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
}

.site-title,
.site-title:visited {
    color: white;
    text-decoration: none;
}

.site-title,
.site-title:hover {
    text-decoration: none;
}

.site-nav .page-link {
    color: white;
    line-height: 1.5;
}

@media screen and (max-width: 600px) {
    .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        color: black !important;
    }
}

div.row {
    display: flex;
    align-items: center;
}

div.col {
    padding: 2px;
}

div.col-4 {
    width: 33%;
}

.leode-info-col-wrapper {
    display: flex;
    font-size: 15px;
}

.leode-info-col {
    margin: 5px;
    padding: 5px;
}

.leode-info-col-1 {
    width: -webkit-calc(35% - (30px / 2));
    width: calc(35% - (30px / 2));
}

.leode-info-col-2 {
    width: -webkit-calc(65% - (30px / 2));
    width: calc(65% - (30px / 2));
}

@media screen and (max-width: 800px) {
    .leode-info-col-1 {
        width: -webkit-calc(65% - (30px / 2));
        width: calc(40% - (30px / 2));
    }

    .leode-info-col-2 {
        width: -webkit-calc(65% - (30px / 2));
        width: calc(60% - (30px / 2));
    }
}

@media screen and (max-width: 600px) {
    .leode-info-col-wrapper {
        display: unset;
    }

    .leode-info-col-1 {
        width: 100%;
    }

    .leode-info-col-2 {
        width: 100%;
    }
}

.leode-info-img {
    border-radius: 50%;
}

.leode-info-title {
    font-size: 26px;
}

.leode-info-title>span {
    color: #1e4e79;
}

.morn-demibold {
    font-family: morn-demibold;
}

@media screen and (max-width: 800px) {
    .leode-info-img {
        width: 75%;
    }
}

@media screen and (max-width: 600px) {
    .leode-info-img {
        width: 45%;
    }
}

.leode-info-subtitle {
    font-size: 16px;
    font-weight: bold;
}