<footer class="site-footer mt-3">
    <div class="container">
        <div class="row">
            <div class="col col-6">
                <h2 style="color: #424242;">
                    Leonardo Essam Dei Rossi
                </h2>

                <p class="text">
                    I am a Computer Science teacher at "Michelangelo Buonarroti" High School in Trento (Italy) since
                    fall 2025.
                </p>

                <p class="text">
                    And also, I am a BSc student in Computer Science at the Department of information engineering
                    and computer science, University of Trento since fall 2024.
                </p>
            </div>

            <div class="col col-2">&nbsp;</div>

            <div class="col col-4">
                <span class="fw-bold">
                    Contacts:
                </span>

                <ul class="contact-list">
                    <li>
                        <a href="mailto:leonardoessam.deirossi@gmail.com">
                            leonardoessam.deirossi@gmail.com
                        </a>
                    </li>
                    <li>
                        <a href="mailto:leonardoessam.deirossi@scuole.provincia.tn.it">
                            leonardoessam.deirossi@scuole.provincia.tn.it
                        </a>
                    </li>
                </ul>

                <span class="fw-bold">
                    Social accounts:
                </span>

                <ul class="contact-list">
                    <li>
                        <a href="https://www.instagram.com/leonardodeirossi/" target="_blank">
                            Instagram (@leonardodeirossi)
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=61569856342263" target="_blank">
                            Facebook (personal)
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/leonardoessam-deirossi/" target="_blank">
                            LinkedIn (personal)
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/school/universitaditrento/" target="_blank">
                            LinkedIn (University of Trento)
                        </a>
                    </li>
                </ul>
            </div>

            <hr>

            <center>
                <p class="text">
                    Copyright &copy; 2025 - Dei Rossi, Leonardo Essam. All rights reserved
                    <a href="/license/">(link)</a>
                </p>
            </center>
        </div>
</footer>