{{ define "main" }}

<div class="row align-items-center mb-3">
    <div class="col col-4">
        <center>
            <img src="/images/leode-wiredfestival.jpg" class="rounded-image" title="Wired Next Fest, Ottobre 2025"
                style="width: 100%;">
        </center>
    </div>

    <div class="col col-8">
        <h3 class="h3">
            <span class="morn-demibold text-primary">@leode</span> - Leonardo Essam &#129419;
        </h3>

        <hr>

        <p class="fw-bold">
            Welcome to my personal website :)
        </p>

        <figure>
            <blockquote class="blockquote">
                Ho sceso, dandoti il braccio, almeno un milione di scale
                <br>
                e ora che non ci sei &egrave; il vuoto ad ogni gradino.
            </blockquote>

            <figcaption class="blockquote-footer">
                Eugenio Montale <a href="/montale/">(link)</a>
            </figcaption>
        </figure>

        <br>

        <figure>
            <blockquote class="blockquote">
                If you have a dream, do something, even if it's little.
                <br>
                Because you'll never know where it might lead you.
            </blockquote>

            <figcaption class="blockquote-footer">
                Giulia Carla Bassani
            </figcaption>
        </figure>
    </div>
</div>

<div class="row align-items-center mb-3">
    <div class="col col-8">
        <figure>
            <blockquote class="blockquote">
                Vuoi la verità Twilight? Le cose brutte succedono.
                <br>
                Non importa cosa fai, non ci sarà mai un momento in cui tutto è perfetto.
                <br>
                Ma questo non significa che devi smettere di provare!
            </blockquote>

            <figcaption class="blockquote-footer">
                Applejack
            </figcaption>
        </figure>

        <br>

        <figure>
            <blockquote class="blockquote">
                Ehi! Io posso pulire il cielo nel giro di dieci secondi spaccati.
            </blockquote>

            <figcaption class="blockquote-footer">
                Rainbow Dash
            </figcaption>
        </figure>
    </div>

    <div class="col col-4">
        <center>
            <img src="/images/photo_2026-04-05_13-58-43.jpg" style="width: 100%;">
        </center>
    </div>
</div>

<div class="row align-items-center">
    <div class="col col-8">
        <figure>
            <blockquote class="blockquote">
                Amare non &egrave; guardarsi l'un l'altro,
                <br>
                ma guardare insieme nella stessa direzione.
            </blockquote>
        </figure>

        <br>

        <figure>
            <blockquote class="blockquote">
                Non si vede bene che con il cuore.
                <br>
                L'essenziale &egrave; invisibile agli occhi.
            </blockquote>
        </figure>

        <br>

        <figure>
            <blockquote class="blockquote">
                Tutti i grandi sono stati piccoli,
                <br>
                ma pochi di essi se ne ricordano.
            </blockquote>

            <figcaption class="blockquote-footer">
                Il piccolo Principe
            </figcaption>
        </figure>
    </div>

    <div class="col col-4">
        <center>
            <img src="/images/photo_2025-11-25_09-11-35.jpg" style="width: 100%;">
        </center>
    </div>
</div>
{{ end }}